html, body,#root{
  height: 100%;
}
.App {
  height: 100%;
  margin: 0;
}
.btnSubmit{
  padding: 1.5rem 0;
}
body {
  background: rgb(130,190,255);
  background: linear-gradient(90deg, rgba(130,190,255,1) 0%, rgba(203,228,255,1) 34%, rgba(239,242,244,1) 75%);
}
.my-custom-scrollbar {
  position: relative;
  height: 300px;
  overflow: auto;
  }
.table-wrapper-scroll-y {
  display: block;
}
.divLogin{
    display: flex;
    justify-content: center;
    padding: 10% 10%;
}
.cardLogin{
    width: 60%;
    padding: 5% 10%;
}

.logoLogin{
    height: 150px;
}
@import "navlink";
@import "header";
@import "dashboard";
@import "contentmanageproduct";
@import "contentmanagecategory";
@import "contentmanagevoucher";
@import "contentmanageuser";